<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title> calm </title>
  </head>
  <form method = "POST" action ="/hotlines">
  <button>HOTLINES</button>
</form>
<h1>hello</h1>
<h1> How to stay calm</h1>
<p> Take deep breaths, rethink your actions; this makes you come up with other possible outcomes and makes you think "is this really rational?". Stay positive; your brain will eventually make this a habit and it'll get easier to keep your cool and become an optimist</p>
 
 <h1> calm things to watch</h1>
 Gilmore Girls,
 </html>