<!DOCTYPE html>
<html lang = “en”>
<head>
<h1> How to get focused </h1>
<h2>tips</h2>
<p> Prepare your brain; take a deep breath before you start a working to prepare your brain. Know what you’re doing; have a to-do list or a clear goal in your mind to be more productive. Take a break; studies shown taking a break makes you more productive in the long run, for example for every 50 minutes, take a 10 minute break! Don’t multitask; you’ll get more work done if you’re doing one thing and focused on that. </p>
</head>
<body>
<h2> Things to watch </h2>
<h2> Disclaimer; Not scientifically proven , but most have clear goal in mind</h2>

<p> Clueless, The pursuit of happiness, The game plan, Life of Pi, The blind side, She’s the man, Legally blond<p>

<iframe src="http://xhalr.com" width="400" height="400" frameborder="0" allowfullscreen style="max-width:100%"></iframe>
</body>
</html>
