<!DOCTYPE html> 
<html lang="en">
 <head>
  
  <title>hug</title>
  
  </head>
  <center><img class=image src="http://i67.tinypic.com/29wlvrl.jpg" width="800" height="800" frameborder="0" allowfullscreen style="max-width:100%">
</center>
</html>