<!DOCTYPE html>
<html lang="en">
  <h6>a playlist to listen to to keep you happy:</h6>
  <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWSf2RDTDayIx" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <form method="POST" action = "/">
   <p>your name: <input type="text" name= "name"></p>
   <p>write here about something that makes you happy: <input type="text" name="rant"></p>
 <input type="submit">
 </form>
  </html>