<center><h1> Call Hotlines/Helplines</h1>
<h3>Crisis Center:</h3>
<h4>1-800-843-7274</h4>
<h3>Youth Crisis Hotline:</h3>
<h4>1-800-HIT-HOME</h4>
<h3>Help Finding a Therapist:</h3>
<h4>1-800-THERAPIST</h4>
<h1>Text Hotlines/Helplines</h1>
<h3>Crisis Text Line:</h3>
<h4>Text "HOME" to 741741</h4>
<h3>Teen Text Line:</h3>
<h4> Text "TEEN" to 839863</h4>

<!-- link_to '<button type="button">New Post</button>'.html_safe, new_post_path -->