<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>hug</title>
    
    </head>
    
  <center><img class=image src="https://media.giphy.com/media/XpgOZHuDfIkoM/giphy.gif" width="800" height="800" frameborder="0" allowfullscreen style="max-width:100%">
</center>

</html>