<!DOCTYPE html>
<background></background><html>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Cookie|Pacifico|Raleway" rel="stylesheet">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Mental Health Helper</title>
  </head>
 <center>
<body>
  <h1> welcome </h1>
<h1> how are you feeling? </h1>

<form method = "POST" action ="/stressed">
  <button>stressed</button>
</form>
<p></p>
<form method="POST" action="/happy">
  <button>happy</button>
</form>
<p></p>
<form method = "POST" action = "/sad">
  <button>sad</button>
</form>
<p></p>
<form method = "POST" action ="/calm">
  <button>calm</button>
</form>
<p></p>
<form method="POST" action ="/distracted">
  <button>distracted</button>
</form>
<p></p>
<form method= "POST" action="/tired">
  <button>tired</button>
</form>
<p></p>
<form method = "POST" action ="/hotlines">
  <button>hotlines</button>
</form>
</body>
</html>
</center>