<h1> Welcome </h1>
<h1> How are you feeling? </h1>
<a href="http://67.205.182.198:45908/stressed"> Stressed </a>
<a href="http://67.205.182.198:45908/happy"> Happy </a>
<a href="http://67.205.182.198:45908/sad"> Sad </a>