<h1> Welcome </h1>
<h1> How are you feeling? </h1>
<!--<a href="http://67.205.182.198:56883/stressed"> Stressed </a>-->
<a href="http://67.205.182.198:56883/happy"> Happy </a>
<a href="http://67.205.182.198:56883/sad"> Sad </a>
<a href="http://67.205.182.198:56883/calm"> Calm </a>
<a href="http://67.205.182.198:56883/distracted"> Distracted </a>
<a href="http://67.205.182.198:56883/tired"> Tired </a>

<form method = "POST" action ="/stressed">
  <button>Stressed</button>
  
  
</form>