<h1> Welcome </h1>
<h1> How are you feeling? </h1>

<form method = "POST" action ="/stressed">
  <button>Stressed</button>
</form>
<form method="POST" action="/happy">
  <button>Happy</button>
</form>
<form method = "POST" action = "/sad">
  <button>Sad</button>
</form>
<form method = "POST" action ="/calm">
  <button>Calm</button>
</form>
<form method="POST" action ="/distracted">
  <button>Distracted</button>
</form>
<form method= "POST" action="/tired">
  <button>Tired</button>
</form>
