<h1> Welcome </h1>
<h1> How are you feeling? </h1>
<a href="http://174.138.35.103:3637/stressed"> Stressed </a>
<a href="http://174.138.35.103:3637/happy"> Happy </a>
<a href="http://174.138.35.103:3637/sad"> Sad </a>
<a href="http://174.138.35.103:3637/calm"> Calm </a>
<a href="http://174.138.35.103:3637/distracted"> Distracted </a>
<a href="http://174.138.35.103:3637/tired"> Tired </a>