<!DOCTYPE html>
<html lang="en">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Cookie|Pacifico|Raleway" rel="stylesheet">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>sad</title>
    </head>

<form method = "POST" action ="/hotlines">
  <button>hotlines</button>
</form>

<p></p>  
  <form method = "POST" action ="/">
  <button>home</button>
</form>

<center>
  <h1> a playlist to listen to if you're feeling sad:</h1>
  <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX3rxVfibe1L0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<form method="POST" action = "/hug">
   <p>Your Name: <input type="text" name= "name"></p>
   <p>Rant Here: <input type="text" name="rant"></p>
 <input type="submit">
 </form>
 
 <blockquote class="embedly-card"><h4><a href="https://www.huffingtonpost.com/maria-rodale/21-ways-to-deal-with-sadn_b_5803672.html">21 Ways to Deal with Sadness</a></h4><p>Depression gets a lot of press and attention these days. But sadness is a different thing. Sadness is the feeling that comes from an unhappy event. Now, if you don't deal with it, sadness can become chronic and lead to depression. This is why you might want to learn to deal with it when it comes.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

</center>
 </html>