<!DOCTYPE html>
<html lang="en">
  <h1> a playlist to listen to if you're feeling sad:</h1>
  <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DX7gIoKXt0gmx" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<form method="POST" action = "/hotlines">
   <p>Your Name: <input type="text" name= "name"></p>
   <p>Rant Here: <input type="text" name="rant"></p>
 <input type="submit">
 </form>
 </html>