<h1>School-Related Stress</h1>
<h3>First: Think of the last time that you took a break. If it's been over an hour, stop working. Lay down, walk around, do jumping-jacks, whatever you need to give your mind a break. Take 10-15 minutes, then sit back down and start working again.</h3>
<h3>Next: Break your work down into smaller parts, and work on ONLY one of those parts at a time. This wil make your work seem more manageable if you're overwhelmed by it. When you're focusing on only one thing at a time, you'll find that it will get done a lot faster.</h3>
