<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>tired</title>
  </head>
  <form method = "POST" action ="/hotlines">
  <button>HOTLINES</button>
</form>
<h2>Foods to Eat When You're Tired:</h2>
<ul><li>Oatmeal(or any whole grain)</li>
<li>Dark Chocolate</li>
<li>Avacado</li>
<li>Nuts</li>
<li>Eggs</li>
</ul>

<iframe src="https://open.spotify.com/embed/user/rachelann1092/playlist/2H5NdSB7O8tsxzUBHd7R0N" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</html>